body {
  background-image: url(https://ambrus.s3.amazonaws.com/1654997771178_0.80_BG-PATTERN.png);
  background-color: #2a2a2a !important;
  background-size: 100% auto;
  background-position: top;
}

html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

#main {
  flex-grow: 1;
  min-height: 100vh;
}

.account-nft-actions {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

// components
.u-btn {
  @apply inline-flex items-center justify-center flex-wrap select-none font-semibold text-base leading-5 text-center text-white not-italic uppercase w-full outline-none border-none py-5 bg-[#2A2A2A] cursor-pointer;
}

.u-btn-primary {
  @apply bg-rust;
}

.u-btn-disabled {
  @apply bg-[#A0A4B0];
}

.u-btn.loading,
.u-btn.loading:hover {
  pointer-events: none;
}
.u-btn.loading:before {
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  border-width: 2px;
  animation: spin 2s linear infinite;
  content: '';
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: currentColor;
  border-right-color: currentColor;
  display: block;
}
.u-btn.loading,
.u-btn-primary.loading {
  filter: contrast(0.7);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

// scrollbar
.filter-category-scrollbar {
  @apply scrollbar scrollbar-thumb-color-black scrollbar-track-color-black scrollbar-w-0;
}

// Gallery

.filter-wrapper {
  max-height: calc(100vh - 116px);
  @media (min-width: 1280px) {
    max-height: calc(100vh - 148px);
  }
}
.max-height-category {
  max-height: calc(100% - 52px - 60px);
  @media (min-width: 640px) {
    max-height: calc(100vh - 100px - 60px - 92px - 18px);
  }
}

// Gallery Modal Info
.max-height-modal-info {
  max-height: calc(100vh - 100vw - 72px);
  @media (min-width: 640px) {
    max-height: initial;
  }
}

// slider
.sliderWrapper .slick-track {
  margin-left: 18px;
}

// assets slider
.assets-swiper {
  .swiper-slide {
    width: 100% !important;
    @media (min-width: 640px) {
      width: 56% !important;
    }
    @media (min-width: 768px) {
      width: 36% !important;
    }
    @media (min-width: 1024px) {
      width: 26% !important;
    }
    @media (min-width: 1280px) {
      width: 20% !important;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    padding: 0 24px;
    margin-top: 0;
    top: 0;
    bottom: 0;
    height: auto;
    width: auto;
    color: #fff;
    &::after {
      font-size: 22px;
    }
  }
  .swiper-button-prev {
    left: 0;
    background: linear-gradient(-270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .swiper-button-next {
    right: 0;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

// Trait Edition styles
.text-gradient-linear {
  @apply bg-clip-text text-transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
