body {
  background-image: url(https://ambrus.s3.amazonaws.com/1654997771178_0.80_BG-PATTERN.png);
  background-color: #2a2a2a !important;
  background-size: 100% auto;
  background-position: top;
}

.account-nft-actions {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

// components
.u-btn {
  @apply cursor-pointer font-semibold text-base leading-5 text-center text-white not-italic uppercase w-full outline-none border-none py-5 bg-[#2A2A2A];
}

.u-btn-primary {
  @apply bg-rust;
}

.u-btn-disabled {
  @apply bg-[#A0A4B0];
}
